.title{
  background-color: #EC3137;
  border-radius: 12px 12px 0 0;
  white-space: nowrap;
  color: #fff;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.25);
  padding: 20px;
  box-sizing: border-box;
  text-align: center;
}

.options_item{
  color: #333;
  background-color: #E5E5E5;
  padding: 20px;
  text-align: left;
  &:last-child{
    border-radius: 0 0 12px 12px;
  }
}